body {
    background-image: url(/assets/images/t112c.jpg);
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-size: cover;
}

.icon {
    margin-bottom: 30px;
}

.panda {
   border-radius: 50%;
   width: 200px;
   height: 200px;
   background-position: center center;
}

.user-name {
    font-size: 30px;
    color: #555555;
    letter-spacing: 0.2em;
    margin-left: 40px;
}

.container-fluid {
    margin-top: 70px;
}

.itembar {
    color:#fff;
}

ul {
    border-radius: 10px;
}

.itembtn {
    padding-top: 25px;
    height: 80px;
    font-size: 20px;
    letter-spacing: 0.3em;
    background-color: #444444;
    border-radius: 12px;
}

.item-registration {
    text-align: center;
    margin-bottom: 100px;
}

.input-items {
    position: relative;
}

.showbtn {
    position: absolute;
    right: 10px;
    
    margin-top: 40px;
    margin-left: 348px;
    padding: 0px 30px;
    height: 50px;
    background-color: #444444;
    border-radius: 12px;
}

.item-list {
    margin-top: 50px;
    margin-bottom: 50px;
}

.list {
    background-image: url(/assets/images/612GpiquSeL._AC_.jpg);
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-size: cover;
}
